@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./tailwind.css";

:root {
  --theme-color: theme("colors.yellow.500");
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  /* @apply bg-gray-200; */
}

.parallax-effect {
  transform-style: preserve-3d;
}

.inner-element {
  transform: translateZ(60px);
}
